/*
Orchestration Cluster API

API for communicating with a Camunda 8 cluster.  ## Conventions  ### Enum value casing  Server-side, enum-typed request fields accept any casing of a documented value (for example `ACTIVE`, `active`, and `Active` are all accepted on input). Responses always use the canonical casing shown in this specification.  This permissive request behavior is a server-side convenience and is **not** part of the OpenAPI enum contract — SDKs generated from this specification by strict generators may reject non-canonical casing on the client side. For portability across SDKs, always send the canonical casing shown in this document.

API version: 0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// MessageSubscriptionAPIService MessageSubscriptionAPI service
type MessageSubscriptionAPIService service

type ApiSearchCorrelatedMessageSubscriptionsRequest struct {
	ctx                                      context.Context
	ApiService                               *MessageSubscriptionAPIService
	correlatedMessageSubscriptionSearchQuery *CorrelatedMessageSubscriptionSearchQuery
}

func (r ApiSearchCorrelatedMessageSubscriptionsRequest) CorrelatedMessageSubscriptionSearchQuery(correlatedMessageSubscriptionSearchQuery CorrelatedMessageSubscriptionSearchQuery) ApiSearchCorrelatedMessageSubscriptionsRequest {
	r.correlatedMessageSubscriptionSearchQuery = &correlatedMessageSubscriptionSearchQuery
	return r
}

func (r ApiSearchCorrelatedMessageSubscriptionsRequest) Execute() (*CorrelatedMessageSubscriptionSearchQueryResult, *http.Response, error) {
	return r.ApiService.SearchCorrelatedMessageSubscriptionsExecute(r)
}

/*
SearchCorrelatedMessageSubscriptions Search correlated message subscriptions

Search correlated message subscriptions based on given criteria.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchCorrelatedMessageSubscriptionsRequest
*/
func (a *MessageSubscriptionAPIService) SearchCorrelatedMessageSubscriptions(ctx context.Context) ApiSearchCorrelatedMessageSubscriptionsRequest {
	return ApiSearchCorrelatedMessageSubscriptionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CorrelatedMessageSubscriptionSearchQueryResult
func (a *MessageSubscriptionAPIService) SearchCorrelatedMessageSubscriptionsExecute(r ApiSearchCorrelatedMessageSubscriptionsRequest) (*CorrelatedMessageSubscriptionSearchQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CorrelatedMessageSubscriptionSearchQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageSubscriptionAPIService.SearchCorrelatedMessageSubscriptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/correlated-message-subscriptions/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.correlatedMessageSubscriptionSearchQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchMessageSubscriptionsRequest struct {
	ctx                            context.Context
	ApiService                     *MessageSubscriptionAPIService
	messageSubscriptionSearchQuery *MessageSubscriptionSearchQuery
}

func (r ApiSearchMessageSubscriptionsRequest) MessageSubscriptionSearchQuery(messageSubscriptionSearchQuery MessageSubscriptionSearchQuery) ApiSearchMessageSubscriptionsRequest {
	r.messageSubscriptionSearchQuery = &messageSubscriptionSearchQuery
	return r
}

func (r ApiSearchMessageSubscriptionsRequest) Execute() (*MessageSubscriptionSearchQueryResult, *http.Response, error) {
	return r.ApiService.SearchMessageSubscriptionsExecute(r)
}

/*
SearchMessageSubscriptions Search message subscriptions

Search for message subscriptions based on given criteria.

By default, both start and intermediate event subscriptions are returned. Use the
`messageSubscriptionType` filter to restrict results to a single type.

**Version notes:**

  - Start event subscriptions are only captured for deployments made with 8.10 or later.

  - The `messageSubscriptionType` field is only populated for data created
    with Camunda 8.10 or later. For pre-8.10 data, intermediate event entries have no
    `messageSubscriptionType` value stored. For convenience, the API returns `PROCESS_EVENT`
    as a default for such search results, though.

  - Searching for intermediate event subscriptions **including legacy data** can be achieved
    by filtering for `messageSubscriptionType` not matching `START_EVENT`.

    @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
    @return ApiSearchMessageSubscriptionsRequest
*/
func (a *MessageSubscriptionAPIService) SearchMessageSubscriptions(ctx context.Context) ApiSearchMessageSubscriptionsRequest {
	return ApiSearchMessageSubscriptionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MessageSubscriptionSearchQueryResult
func (a *MessageSubscriptionAPIService) SearchMessageSubscriptionsExecute(r ApiSearchMessageSubscriptionsRequest) (*MessageSubscriptionSearchQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MessageSubscriptionSearchQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageSubscriptionAPIService.SearchMessageSubscriptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/message-subscriptions/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.messageSubscriptionSearchQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
