/*
Orchestration Cluster API

API for communicating with a Camunda 8 cluster.  ## Conventions  ### Enum value casing  Server-side, enum-typed request fields accept any casing of a documented value (for example `ACTIVE`, `active`, and `Active` are all accepted on input). Responses always use the canonical casing shown in this specification.  This permissive request behavior is a server-side convenience and is **not** part of the OpenAPI enum contract — SDKs generated from this specification by strict generators may reject non-canonical casing on the client side. For portability across SDKs, always send the canonical casing shown in this document.

API version: 0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// IncidentAPIService IncidentAPI service
type IncidentAPIService service

type ApiGetIncidentRequest struct {
	ctx         context.Context
	ApiService  *IncidentAPIService
	incidentKey IncidentKey
}

func (r ApiGetIncidentRequest) Execute() (*IncidentResult, *http.Response, error) {
	return r.ApiService.GetIncidentExecute(r)
}

/*
GetIncident Get incident

Returns incident as JSON.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param incidentKey The assigned key of the incident, which acts as a unique identifier for this incident.
	@return ApiGetIncidentRequest
*/
func (a *IncidentAPIService) GetIncident(ctx context.Context, incidentKey IncidentKey) ApiGetIncidentRequest {
	return ApiGetIncidentRequest{
		ApiService:  a,
		ctx:         ctx,
		incidentKey: incidentKey,
	}
}

// Execute executes the request
//
//	@return IncidentResult
func (a *IncidentAPIService) GetIncidentExecute(r ApiGetIncidentRequest) (*IncidentResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IncidentResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IncidentAPIService.GetIncident")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/incidents/{incidentKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"incidentKey"+"}", url.PathEscape(parameterValueToString(r.incidentKey, "incidentKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProcessInstanceStatisticsByDefinitionRequest struct {
	ctx                                                context.Context
	ApiService                                         *IncidentAPIService
	incidentProcessInstanceStatisticsByDefinitionQuery *IncidentProcessInstanceStatisticsByDefinitionQuery
}

func (r ApiGetProcessInstanceStatisticsByDefinitionRequest) IncidentProcessInstanceStatisticsByDefinitionQuery(incidentProcessInstanceStatisticsByDefinitionQuery IncidentProcessInstanceStatisticsByDefinitionQuery) ApiGetProcessInstanceStatisticsByDefinitionRequest {
	r.incidentProcessInstanceStatisticsByDefinitionQuery = &incidentProcessInstanceStatisticsByDefinitionQuery
	return r
}

func (r ApiGetProcessInstanceStatisticsByDefinitionRequest) Execute() (*IncidentProcessInstanceStatisticsByDefinitionQueryResult, *http.Response, error) {
	return r.ApiService.GetProcessInstanceStatisticsByDefinitionExecute(r)
}

/*
GetProcessInstanceStatisticsByDefinition Get process instance statistics by definition

Returns statistics for active process instances with incidents, grouped by process
definition. The result set is scoped to a specific incident error hash code, which must be
provided as a filter in the request body.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetProcessInstanceStatisticsByDefinitionRequest
*/
func (a *IncidentAPIService) GetProcessInstanceStatisticsByDefinition(ctx context.Context) ApiGetProcessInstanceStatisticsByDefinitionRequest {
	return ApiGetProcessInstanceStatisticsByDefinitionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IncidentProcessInstanceStatisticsByDefinitionQueryResult
func (a *IncidentAPIService) GetProcessInstanceStatisticsByDefinitionExecute(r ApiGetProcessInstanceStatisticsByDefinitionRequest) (*IncidentProcessInstanceStatisticsByDefinitionQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IncidentProcessInstanceStatisticsByDefinitionQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IncidentAPIService.GetProcessInstanceStatisticsByDefinition")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/incidents/statistics/process-instances-by-definition"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.incidentProcessInstanceStatisticsByDefinitionQuery == nil {
		return localVarReturnValue, nil, reportError("incidentProcessInstanceStatisticsByDefinitionQuery is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.incidentProcessInstanceStatisticsByDefinitionQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProcessInstanceStatisticsByErrorRequest struct {
	ctx                                           context.Context
	ApiService                                    *IncidentAPIService
	incidentProcessInstanceStatisticsByErrorQuery *IncidentProcessInstanceStatisticsByErrorQuery
}

func (r ApiGetProcessInstanceStatisticsByErrorRequest) IncidentProcessInstanceStatisticsByErrorQuery(incidentProcessInstanceStatisticsByErrorQuery IncidentProcessInstanceStatisticsByErrorQuery) ApiGetProcessInstanceStatisticsByErrorRequest {
	r.incidentProcessInstanceStatisticsByErrorQuery = &incidentProcessInstanceStatisticsByErrorQuery
	return r
}

func (r ApiGetProcessInstanceStatisticsByErrorRequest) Execute() (*IncidentProcessInstanceStatisticsByErrorQueryResult, *http.Response, error) {
	return r.ApiService.GetProcessInstanceStatisticsByErrorExecute(r)
}

/*
GetProcessInstanceStatisticsByError Get process instance statistics by error

Returns statistics for active process instances that currently have active incidents,
grouped by incident error hash code.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetProcessInstanceStatisticsByErrorRequest
*/
func (a *IncidentAPIService) GetProcessInstanceStatisticsByError(ctx context.Context) ApiGetProcessInstanceStatisticsByErrorRequest {
	return ApiGetProcessInstanceStatisticsByErrorRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IncidentProcessInstanceStatisticsByErrorQueryResult
func (a *IncidentAPIService) GetProcessInstanceStatisticsByErrorExecute(r ApiGetProcessInstanceStatisticsByErrorRequest) (*IncidentProcessInstanceStatisticsByErrorQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IncidentProcessInstanceStatisticsByErrorQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IncidentAPIService.GetProcessInstanceStatisticsByError")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/incidents/statistics/process-instances-by-error"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.incidentProcessInstanceStatisticsByErrorQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResolveIncidentRequest struct {
	ctx                       context.Context
	ApiService                *IncidentAPIService
	incidentKey               IncidentKey
	incidentResolutionRequest *IncidentResolutionRequest
}

func (r ApiResolveIncidentRequest) IncidentResolutionRequest(incidentResolutionRequest IncidentResolutionRequest) ApiResolveIncidentRequest {
	r.incidentResolutionRequest = &incidentResolutionRequest
	return r
}

func (r ApiResolveIncidentRequest) Execute() (*http.Response, error) {
	return r.ApiService.ResolveIncidentExecute(r)
}

/*
ResolveIncident Resolve incident

Marks the incident as resolved; most likely a call to Update job will be necessary
to reset the job's retries, followed by this call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param incidentKey Key of the incident to resolve.
	@return ApiResolveIncidentRequest
*/
func (a *IncidentAPIService) ResolveIncident(ctx context.Context, incidentKey IncidentKey) ApiResolveIncidentRequest {
	return ApiResolveIncidentRequest{
		ApiService:  a,
		ctx:         ctx,
		incidentKey: incidentKey,
	}
}

// Execute executes the request
func (a *IncidentAPIService) ResolveIncidentExecute(r ApiResolveIncidentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IncidentAPIService.ResolveIncident")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/incidents/{incidentKey}/resolution"
	localVarPath = strings.Replace(localVarPath, "{"+"incidentKey"+"}", url.PathEscape(parameterValueToString(r.incidentKey, "incidentKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.incidentResolutionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSearchIncidentsRequest struct {
	ctx                 context.Context
	ApiService          *IncidentAPIService
	incidentSearchQuery *IncidentSearchQuery
}

func (r ApiSearchIncidentsRequest) IncidentSearchQuery(incidentSearchQuery IncidentSearchQuery) ApiSearchIncidentsRequest {
	r.incidentSearchQuery = &incidentSearchQuery
	return r
}

func (r ApiSearchIncidentsRequest) Execute() (*IncidentSearchQueryResult, *http.Response, error) {
	return r.ApiService.SearchIncidentsExecute(r)
}

/*
SearchIncidents Search incidents

Search for incidents based on given criteria.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchIncidentsRequest
*/
func (a *IncidentAPIService) SearchIncidents(ctx context.Context) ApiSearchIncidentsRequest {
	return ApiSearchIncidentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IncidentSearchQueryResult
func (a *IncidentAPIService) SearchIncidentsExecute(r ApiSearchIncidentsRequest) (*IncidentSearchQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IncidentSearchQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IncidentAPIService.SearchIncidents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/incidents/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.incidentSearchQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
