/*
Orchestration Cluster API

API for communicating with a Camunda 8 cluster.  ## Conventions  ### Enum value casing  Server-side, enum-typed request fields accept any casing of a documented value (for example `ACTIVE`, `active`, and `Active` are all accepted on input). Responses always use the canonical casing shown in this specification.  This permissive request behavior is a server-side convenience and is **not** part of the OpenAPI enum contract — SDKs generated from this specification by strict generators may reject non-canonical casing on the client side. For portability across SDKs, always send the canonical casing shown in this document.

API version: 0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// UserTaskAPIService UserTaskAPI service
type UserTaskAPIService service

type ApiAssignUserTaskRequest struct {
	ctx                       context.Context
	ApiService                *UserTaskAPIService
	userTaskKey               UserTaskKey
	userTaskAssignmentRequest *UserTaskAssignmentRequest
}

func (r ApiAssignUserTaskRequest) UserTaskAssignmentRequest(userTaskAssignmentRequest UserTaskAssignmentRequest) ApiAssignUserTaskRequest {
	r.userTaskAssignmentRequest = &userTaskAssignmentRequest
	return r
}

func (r ApiAssignUserTaskRequest) Execute() (*http.Response, error) {
	return r.ApiService.AssignUserTaskExecute(r)
}

/*
AssignUserTask Assign user task

Assigns a user task with the given key to the given assignee. Assignment waits for blocking task listeners on this lifecycle transition. If listener processing is delayed beyond the request timeout, this endpoint can return 504. Other gateway timeout causes are also possible. Retry with backoff and inspect listener worker availability and logs when this repeats.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userTaskKey The key of the user task to assign.
	@return ApiAssignUserTaskRequest
*/
func (a *UserTaskAPIService) AssignUserTask(ctx context.Context, userTaskKey UserTaskKey) ApiAssignUserTaskRequest {
	return ApiAssignUserTaskRequest{
		ApiService:  a,
		ctx:         ctx,
		userTaskKey: userTaskKey,
	}
}

// Execute executes the request
func (a *UserTaskAPIService) AssignUserTaskExecute(r ApiAssignUserTaskRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTaskAPIService.AssignUserTask")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-tasks/{userTaskKey}/assignment"
	localVarPath = strings.Replace(localVarPath, "{"+"userTaskKey"+"}", url.PathEscape(parameterValueToString(r.userTaskKey, "userTaskKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userTaskAssignmentRequest == nil {
		return nil, reportError("userTaskAssignmentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userTaskAssignmentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCompleteUserTaskRequest struct {
	ctx                       context.Context
	ApiService                *UserTaskAPIService
	userTaskKey               UserTaskKey
	userTaskCompletionRequest *UserTaskCompletionRequest
}

func (r ApiCompleteUserTaskRequest) UserTaskCompletionRequest(userTaskCompletionRequest UserTaskCompletionRequest) ApiCompleteUserTaskRequest {
	r.userTaskCompletionRequest = &userTaskCompletionRequest
	return r
}

func (r ApiCompleteUserTaskRequest) Execute() (*http.Response, error) {
	return r.ApiService.CompleteUserTaskExecute(r)
}

/*
CompleteUserTask Complete user task

Completes a user task with the given key. Completion waits for blocking task listeners on this lifecycle transition. If listener processing is delayed beyond the request timeout, this endpoint can return 504. Other gateway timeout causes are also possible. Retry with backoff and inspect listener worker availability and logs when this repeats.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userTaskKey The key of the user task to complete.
	@return ApiCompleteUserTaskRequest
*/
func (a *UserTaskAPIService) CompleteUserTask(ctx context.Context, userTaskKey UserTaskKey) ApiCompleteUserTaskRequest {
	return ApiCompleteUserTaskRequest{
		ApiService:  a,
		ctx:         ctx,
		userTaskKey: userTaskKey,
	}
}

// Execute executes the request
func (a *UserTaskAPIService) CompleteUserTaskExecute(r ApiCompleteUserTaskRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTaskAPIService.CompleteUserTask")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-tasks/{userTaskKey}/completion"
	localVarPath = strings.Replace(localVarPath, "{"+"userTaskKey"+"}", url.PathEscape(parameterValueToString(r.userTaskKey, "userTaskKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userTaskCompletionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetUserTaskRequest struct {
	ctx         context.Context
	ApiService  *UserTaskAPIService
	userTaskKey UserTaskKey
}

func (r ApiGetUserTaskRequest) Execute() (*UserTaskResult, *http.Response, error) {
	return r.ApiService.GetUserTaskExecute(r)
}

/*
GetUserTask Get user task

Get the user task by the user task key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userTaskKey The user task key.
	@return ApiGetUserTaskRequest
*/
func (a *UserTaskAPIService) GetUserTask(ctx context.Context, userTaskKey UserTaskKey) ApiGetUserTaskRequest {
	return ApiGetUserTaskRequest{
		ApiService:  a,
		ctx:         ctx,
		userTaskKey: userTaskKey,
	}
}

// Execute executes the request
//
//	@return UserTaskResult
func (a *UserTaskAPIService) GetUserTaskExecute(r ApiGetUserTaskRequest) (*UserTaskResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserTaskResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTaskAPIService.GetUserTask")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-tasks/{userTaskKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"userTaskKey"+"}", url.PathEscape(parameterValueToString(r.userTaskKey, "userTaskKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetUserTaskFormRequest struct {
	ctx         context.Context
	ApiService  *UserTaskAPIService
	userTaskKey UserTaskKey
}

func (r ApiGetUserTaskFormRequest) Execute() (*FormResult, *http.Response, error) {
	return r.ApiService.GetUserTaskFormExecute(r)
}

/*
GetUserTaskForm Get user task form

Get the form of a user task.
Note that this endpoint will only return linked forms. This endpoint does not support embedded forms.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userTaskKey The user task key.
	@return ApiGetUserTaskFormRequest
*/
func (a *UserTaskAPIService) GetUserTaskForm(ctx context.Context, userTaskKey UserTaskKey) ApiGetUserTaskFormRequest {
	return ApiGetUserTaskFormRequest{
		ApiService:  a,
		ctx:         ctx,
		userTaskKey: userTaskKey,
	}
}

// Execute executes the request
//
//	@return FormResult
func (a *UserTaskAPIService) GetUserTaskFormExecute(r ApiGetUserTaskFormRequest) (*FormResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FormResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTaskAPIService.GetUserTaskForm")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-tasks/{userTaskKey}/form"
	localVarPath = strings.Replace(localVarPath, "{"+"userTaskKey"+"}", url.PathEscape(parameterValueToString(r.userTaskKey, "userTaskKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchUserTaskAuditLogsRequest struct {
	ctx                                context.Context
	ApiService                         *UserTaskAPIService
	userTaskKey                        UserTaskKey
	userTaskAuditLogSearchQueryRequest *UserTaskAuditLogSearchQueryRequest
}

func (r ApiSearchUserTaskAuditLogsRequest) UserTaskAuditLogSearchQueryRequest(userTaskAuditLogSearchQueryRequest UserTaskAuditLogSearchQueryRequest) ApiSearchUserTaskAuditLogsRequest {
	r.userTaskAuditLogSearchQueryRequest = &userTaskAuditLogSearchQueryRequest
	return r
}

func (r ApiSearchUserTaskAuditLogsRequest) Execute() (*AuditLogSearchQueryResult, *http.Response, error) {
	return r.ApiService.SearchUserTaskAuditLogsExecute(r)
}

/*
SearchUserTaskAuditLogs Search user task audit logs

Search for user task audit logs based on given criteria.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userTaskKey The key of the user task.
	@return ApiSearchUserTaskAuditLogsRequest
*/
func (a *UserTaskAPIService) SearchUserTaskAuditLogs(ctx context.Context, userTaskKey UserTaskKey) ApiSearchUserTaskAuditLogsRequest {
	return ApiSearchUserTaskAuditLogsRequest{
		ApiService:  a,
		ctx:         ctx,
		userTaskKey: userTaskKey,
	}
}

// Execute executes the request
//
//	@return AuditLogSearchQueryResult
func (a *UserTaskAPIService) SearchUserTaskAuditLogsExecute(r ApiSearchUserTaskAuditLogsRequest) (*AuditLogSearchQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AuditLogSearchQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTaskAPIService.SearchUserTaskAuditLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-tasks/{userTaskKey}/audit-logs/search"
	localVarPath = strings.Replace(localVarPath, "{"+"userTaskKey"+"}", url.PathEscape(parameterValueToString(r.userTaskKey, "userTaskKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userTaskAuditLogSearchQueryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchUserTaskEffectiveVariablesRequest struct {
	ctx                                         context.Context
	ApiService                                  *UserTaskAPIService
	userTaskKey                                 UserTaskKey
	truncateValues                              *bool
	userTaskEffectiveVariableSearchQueryRequest *UserTaskEffectiveVariableSearchQueryRequest
}

// When true (default), long variable values in the response are truncated. When false, full variable values are returned.
func (r ApiSearchUserTaskEffectiveVariablesRequest) TruncateValues(truncateValues bool) ApiSearchUserTaskEffectiveVariablesRequest {
	r.truncateValues = &truncateValues
	return r
}

func (r ApiSearchUserTaskEffectiveVariablesRequest) UserTaskEffectiveVariableSearchQueryRequest(userTaskEffectiveVariableSearchQueryRequest UserTaskEffectiveVariableSearchQueryRequest) ApiSearchUserTaskEffectiveVariablesRequest {
	r.userTaskEffectiveVariableSearchQueryRequest = &userTaskEffectiveVariableSearchQueryRequest
	return r
}

func (r ApiSearchUserTaskEffectiveVariablesRequest) Execute() (*VariableSearchQueryResult, *http.Response, error) {
	return r.ApiService.SearchUserTaskEffectiveVariablesExecute(r)
}

/*
SearchUserTaskEffectiveVariables Search user task effective variables

Search for the effective variables of a user task. This endpoint returns deduplicated
variables where each variable name appears at most once. When the same variable name exists
at multiple scope levels in the scope hierarchy, the value from the innermost scope (closest
to the user task) takes precedence. This is useful for retrieving the actual runtime state
of variables as seen by the user task. By default, long variable values in the response are
truncated.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userTaskKey The key of the user task.
	@return ApiSearchUserTaskEffectiveVariablesRequest
*/
func (a *UserTaskAPIService) SearchUserTaskEffectiveVariables(ctx context.Context, userTaskKey UserTaskKey) ApiSearchUserTaskEffectiveVariablesRequest {
	return ApiSearchUserTaskEffectiveVariablesRequest{
		ApiService:  a,
		ctx:         ctx,
		userTaskKey: userTaskKey,
	}
}

// Execute executes the request
//
//	@return VariableSearchQueryResult
func (a *UserTaskAPIService) SearchUserTaskEffectiveVariablesExecute(r ApiSearchUserTaskEffectiveVariablesRequest) (*VariableSearchQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *VariableSearchQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTaskAPIService.SearchUserTaskEffectiveVariables")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-tasks/{userTaskKey}/effective-variables/search"
	localVarPath = strings.Replace(localVarPath, "{"+"userTaskKey"+"}", url.PathEscape(parameterValueToString(r.userTaskKey, "userTaskKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.truncateValues != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truncateValues", r.truncateValues, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userTaskEffectiveVariableSearchQueryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchUserTaskVariablesRequest struct {
	ctx                                context.Context
	ApiService                         *UserTaskAPIService
	userTaskKey                        UserTaskKey
	truncateValues                     *bool
	userTaskVariableSearchQueryRequest *UserTaskVariableSearchQueryRequest
}

// When true (default), long variable values in the response are truncated. When false, full variable values are returned.
func (r ApiSearchUserTaskVariablesRequest) TruncateValues(truncateValues bool) ApiSearchUserTaskVariablesRequest {
	r.truncateValues = &truncateValues
	return r
}

func (r ApiSearchUserTaskVariablesRequest) UserTaskVariableSearchQueryRequest(userTaskVariableSearchQueryRequest UserTaskVariableSearchQueryRequest) ApiSearchUserTaskVariablesRequest {
	r.userTaskVariableSearchQueryRequest = &userTaskVariableSearchQueryRequest
	return r
}

func (r ApiSearchUserTaskVariablesRequest) Execute() (*VariableSearchQueryResult, *http.Response, error) {
	return r.ApiService.SearchUserTaskVariablesExecute(r)
}

/*
SearchUserTaskVariables Search user task variables

Search for user task variables based on given criteria. This endpoint returns all variable
documents visible from the user task's scope, including variables from parent scopes in the
scope hierarchy. If the same variable name exists at multiple scope levels, each scope's
variable is returned as a separate result. Use the
`/user-tasks/{userTaskKey}/effective-variables/search` endpoint to get deduplicated variables
where the innermost scope takes precedence. By default, long variable values in the response
are truncated.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userTaskKey The key of the user task.
	@return ApiSearchUserTaskVariablesRequest
*/
func (a *UserTaskAPIService) SearchUserTaskVariables(ctx context.Context, userTaskKey UserTaskKey) ApiSearchUserTaskVariablesRequest {
	return ApiSearchUserTaskVariablesRequest{
		ApiService:  a,
		ctx:         ctx,
		userTaskKey: userTaskKey,
	}
}

// Execute executes the request
//
//	@return VariableSearchQueryResult
func (a *UserTaskAPIService) SearchUserTaskVariablesExecute(r ApiSearchUserTaskVariablesRequest) (*VariableSearchQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *VariableSearchQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTaskAPIService.SearchUserTaskVariables")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-tasks/{userTaskKey}/variables/search"
	localVarPath = strings.Replace(localVarPath, "{"+"userTaskKey"+"}", url.PathEscape(parameterValueToString(r.userTaskKey, "userTaskKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.truncateValues != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truncateValues", r.truncateValues, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userTaskVariableSearchQueryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchUserTasksRequest struct {
	ctx                 context.Context
	ApiService          *UserTaskAPIService
	userTaskSearchQuery *UserTaskSearchQuery
}

func (r ApiSearchUserTasksRequest) UserTaskSearchQuery(userTaskSearchQuery UserTaskSearchQuery) ApiSearchUserTasksRequest {
	r.userTaskSearchQuery = &userTaskSearchQuery
	return r
}

func (r ApiSearchUserTasksRequest) Execute() (*UserTaskSearchQueryResult, *http.Response, error) {
	return r.ApiService.SearchUserTasksExecute(r)
}

/*
SearchUserTasks Search user tasks

Search for user tasks based on given criteria.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchUserTasksRequest
*/
func (a *UserTaskAPIService) SearchUserTasks(ctx context.Context) ApiSearchUserTasksRequest {
	return ApiSearchUserTasksRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserTaskSearchQueryResult
func (a *UserTaskAPIService) SearchUserTasksExecute(r ApiSearchUserTasksRequest) (*UserTaskSearchQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserTaskSearchQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTaskAPIService.SearchUserTasks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-tasks/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userTaskSearchQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUnassignUserTaskRequest struct {
	ctx         context.Context
	ApiService  *UserTaskAPIService
	userTaskKey UserTaskKey
}

func (r ApiUnassignUserTaskRequest) Execute() (*http.Response, error) {
	return r.ApiService.UnassignUserTaskExecute(r)
}

/*
UnassignUserTask Unassign user task

Removes the assignee of a task with the given key. Unassignment waits for blocking task listeners on this lifecycle transition. If listener processing is delayed beyond the request timeout, this endpoint can return 504. Other gateway timeout causes are also possible. Retry with backoff and inspect listener worker availability and logs when this repeats.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userTaskKey The key of the user task.
	@return ApiUnassignUserTaskRequest
*/
func (a *UserTaskAPIService) UnassignUserTask(ctx context.Context, userTaskKey UserTaskKey) ApiUnassignUserTaskRequest {
	return ApiUnassignUserTaskRequest{
		ApiService:  a,
		ctx:         ctx,
		userTaskKey: userTaskKey,
	}
}

// Execute executes the request
func (a *UserTaskAPIService) UnassignUserTaskExecute(r ApiUnassignUserTaskRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTaskAPIService.UnassignUserTask")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-tasks/{userTaskKey}/assignee"
	localVarPath = strings.Replace(localVarPath, "{"+"userTaskKey"+"}", url.PathEscape(parameterValueToString(r.userTaskKey, "userTaskKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUpdateUserTaskRequest struct {
	ctx                   context.Context
	ApiService            *UserTaskAPIService
	userTaskKey           UserTaskKey
	userTaskUpdateRequest *UserTaskUpdateRequest
}

func (r ApiUpdateUserTaskRequest) UserTaskUpdateRequest(userTaskUpdateRequest UserTaskUpdateRequest) ApiUpdateUserTaskRequest {
	r.userTaskUpdateRequest = &userTaskUpdateRequest
	return r
}

func (r ApiUpdateUserTaskRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateUserTaskExecute(r)
}

/*
UpdateUserTask Update user task

Update a user task with the given key. Updates wait for blocking task listeners on this lifecycle transition. If listener processing is delayed beyond the request timeout, this endpoint can return 504. Other gateway timeout causes are also possible. Retry with backoff and inspect listener worker availability and logs when this repeats.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userTaskKey The key of the user task to update.
	@return ApiUpdateUserTaskRequest
*/
func (a *UserTaskAPIService) UpdateUserTask(ctx context.Context, userTaskKey UserTaskKey) ApiUpdateUserTaskRequest {
	return ApiUpdateUserTaskRequest{
		ApiService:  a,
		ctx:         ctx,
		userTaskKey: userTaskKey,
	}
}

// Execute executes the request
func (a *UserTaskAPIService) UpdateUserTaskExecute(r ApiUpdateUserTaskRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTaskAPIService.UpdateUserTask")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-tasks/{userTaskKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"userTaskKey"+"}", url.PathEscape(parameterValueToString(r.userTaskKey, "userTaskKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userTaskUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 504 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
