/*
Orchestration Cluster API

API for communicating with a Camunda 8 cluster.  ## Conventions  ### Enum value casing  Server-side, enum-typed request fields accept any casing of a documented value (for example `ACTIVE`, `active`, and `Active` are all accepted on input). Responses always use the canonical casing shown in this specification.  This permissive request behavior is a server-side convenience and is **not** part of the OpenAPI enum contract — SDKs generated from this specification by strict generators may reject non-canonical casing on the client side. For portability across SDKs, always send the canonical casing shown in this document.

API version: 0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ElementInstanceAPIService ElementInstanceAPI service
type ElementInstanceAPIService service

type ApiCreateElementInstanceVariablesRequest struct {
	ctx                context.Context
	ApiService         *ElementInstanceAPIService
	elementInstanceKey ElementInstanceKey
	setVariableRequest *SetVariableRequest
}

func (r ApiCreateElementInstanceVariablesRequest) SetVariableRequest(setVariableRequest SetVariableRequest) ApiCreateElementInstanceVariablesRequest {
	r.setVariableRequest = &setVariableRequest
	return r
}

func (r ApiCreateElementInstanceVariablesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateElementInstanceVariablesExecute(r)
}

/*
CreateElementInstanceVariables Update element instance variables

Updates all the variables of a particular scope (for example, process instance, element instance) with the given variable data.
Specify the element instance in the `elementInstanceKey` parameter.
Variable updates can be delayed by listener-related processing; if processing exceeds the
request timeout, this endpoint can return 504. Other gateway timeout causes are also
possible. Retry with backoff and inspect listener worker availability and logs when this
repeats.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param elementInstanceKey The key of the element instance to update the variables for. This can be the process instance key (as obtained during instance creation), or a given element, such as a service task (see the `elementInstanceKey` on the job message).
	@return ApiCreateElementInstanceVariablesRequest
*/
func (a *ElementInstanceAPIService) CreateElementInstanceVariables(ctx context.Context, elementInstanceKey ElementInstanceKey) ApiCreateElementInstanceVariablesRequest {
	return ApiCreateElementInstanceVariablesRequest{
		ApiService:         a,
		ctx:                ctx,
		elementInstanceKey: elementInstanceKey,
	}
}

// Execute executes the request
func (a *ElementInstanceAPIService) CreateElementInstanceVariablesExecute(r ApiCreateElementInstanceVariablesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElementInstanceAPIService.CreateElementInstanceVariables")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/element-instances/{elementInstanceKey}/variables"
	localVarPath = strings.Replace(localVarPath, "{"+"elementInstanceKey"+"}", url.PathEscape(parameterValueToString(r.elementInstanceKey, "elementInstanceKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setVariableRequest == nil {
		return nil, reportError("setVariableRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.setVariableRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetElementInstanceRequest struct {
	ctx                context.Context
	ApiService         *ElementInstanceAPIService
	elementInstanceKey ElementInstanceKey
}

func (r ApiGetElementInstanceRequest) Execute() (*ElementInstanceResult, *http.Response, error) {
	return r.ApiService.GetElementInstanceExecute(r)
}

/*
GetElementInstance Get element instance

Returns element instance as JSON.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param elementInstanceKey The assigned key of the element instance, which acts as a unique identifier for this element instance.
	@return ApiGetElementInstanceRequest
*/
func (a *ElementInstanceAPIService) GetElementInstance(ctx context.Context, elementInstanceKey ElementInstanceKey) ApiGetElementInstanceRequest {
	return ApiGetElementInstanceRequest{
		ApiService:         a,
		ctx:                ctx,
		elementInstanceKey: elementInstanceKey,
	}
}

// Execute executes the request
//
//	@return ElementInstanceResult
func (a *ElementInstanceAPIService) GetElementInstanceExecute(r ApiGetElementInstanceRequest) (*ElementInstanceResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ElementInstanceResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElementInstanceAPIService.GetElementInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/element-instances/{elementInstanceKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"elementInstanceKey"+"}", url.PathEscape(parameterValueToString(r.elementInstanceKey, "elementInstanceKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchElementInstanceIncidentsRequest struct {
	ctx                 context.Context
	ApiService          *ElementInstanceAPIService
	elementInstanceKey  ElementInstanceKey
	incidentSearchQuery *IncidentSearchQuery
}

func (r ApiSearchElementInstanceIncidentsRequest) IncidentSearchQuery(incidentSearchQuery IncidentSearchQuery) ApiSearchElementInstanceIncidentsRequest {
	r.incidentSearchQuery = &incidentSearchQuery
	return r
}

func (r ApiSearchElementInstanceIncidentsRequest) Execute() (*IncidentSearchQueryResult, *http.Response, error) {
	return r.ApiService.SearchElementInstanceIncidentsExecute(r)
}

/*
SearchElementInstanceIncidents Search for incidents of a specific element instance

Search for incidents caused by the specified element instance, including incidents of any child instances created from this element instance.

Although the `elementInstanceKey` is provided as a path parameter to indicate the root element instance,
you may also include an `elementInstanceKey` within the filter object to narrow results to specific
child element instances. This is useful, for example, if you want to isolate incidents associated with
nested or subordinate elements within the given element instance while excluding incidents directly tied
to the root element itself.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param elementInstanceKey The unique key of the element instance to search incidents for.
	@return ApiSearchElementInstanceIncidentsRequest
*/
func (a *ElementInstanceAPIService) SearchElementInstanceIncidents(ctx context.Context, elementInstanceKey ElementInstanceKey) ApiSearchElementInstanceIncidentsRequest {
	return ApiSearchElementInstanceIncidentsRequest{
		ApiService:         a,
		ctx:                ctx,
		elementInstanceKey: elementInstanceKey,
	}
}

// Execute executes the request
//
//	@return IncidentSearchQueryResult
func (a *ElementInstanceAPIService) SearchElementInstanceIncidentsExecute(r ApiSearchElementInstanceIncidentsRequest) (*IncidentSearchQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IncidentSearchQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElementInstanceAPIService.SearchElementInstanceIncidents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/element-instances/{elementInstanceKey}/incidents/search"
	localVarPath = strings.Replace(localVarPath, "{"+"elementInstanceKey"+"}", url.PathEscape(parameterValueToString(r.elementInstanceKey, "elementInstanceKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.incidentSearchQuery == nil {
		return localVarReturnValue, nil, reportError("incidentSearchQuery is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.incidentSearchQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchElementInstanceWaitStatesRequest struct {
	ctx                           context.Context
	ApiService                    *ElementInstanceAPIService
	elementInstanceWaitStateQuery *ElementInstanceWaitStateQuery
}

func (r ApiSearchElementInstanceWaitStatesRequest) ElementInstanceWaitStateQuery(elementInstanceWaitStateQuery ElementInstanceWaitStateQuery) ApiSearchElementInstanceWaitStatesRequest {
	r.elementInstanceWaitStateQuery = &elementInstanceWaitStateQuery
	return r
}

func (r ApiSearchElementInstanceWaitStatesRequest) Execute() (*ElementInstanceWaitStateQueryResult, *http.Response, error) {
	return r.ApiService.SearchElementInstanceWaitStatesExecute(r)
}

/*
SearchElementInstanceWaitStates Search element instance wait states

Returns the wait states for element instances matching the given filter.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchElementInstanceWaitStatesRequest
*/
func (a *ElementInstanceAPIService) SearchElementInstanceWaitStates(ctx context.Context) ApiSearchElementInstanceWaitStatesRequest {
	return ApiSearchElementInstanceWaitStatesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ElementInstanceWaitStateQueryResult
func (a *ElementInstanceAPIService) SearchElementInstanceWaitStatesExecute(r ApiSearchElementInstanceWaitStatesRequest) (*ElementInstanceWaitStateQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ElementInstanceWaitStateQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElementInstanceAPIService.SearchElementInstanceWaitStates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/element-instances/wait-states/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.elementInstanceWaitStateQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchElementInstancesRequest struct {
	ctx                        context.Context
	ApiService                 *ElementInstanceAPIService
	elementInstanceSearchQuery *ElementInstanceSearchQuery
}

func (r ApiSearchElementInstancesRequest) ElementInstanceSearchQuery(elementInstanceSearchQuery ElementInstanceSearchQuery) ApiSearchElementInstancesRequest {
	r.elementInstanceSearchQuery = &elementInstanceSearchQuery
	return r
}

func (r ApiSearchElementInstancesRequest) Execute() (*ElementInstanceSearchQueryResult, *http.Response, error) {
	return r.ApiService.SearchElementInstancesExecute(r)
}

/*
SearchElementInstances Search element instances

Search for element instances based on given criteria.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchElementInstancesRequest
*/
func (a *ElementInstanceAPIService) SearchElementInstances(ctx context.Context) ApiSearchElementInstancesRequest {
	return ApiSearchElementInstancesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ElementInstanceSearchQueryResult
func (a *ElementInstanceAPIService) SearchElementInstancesExecute(r ApiSearchElementInstancesRequest) (*ElementInstanceSearchQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ElementInstanceSearchQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElementInstanceAPIService.SearchElementInstances")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/element-instances/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.elementInstanceSearchQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
