/*
Orchestration Cluster API

API for communicating with a Camunda 8 cluster.  ## Conventions  ### Enum value casing  Server-side, enum-typed request fields accept any casing of a documented value (for example `ACTIVE`, `active`, and `Active` are all accepted on input). Responses always use the canonical casing shown in this specification.  This permissive request behavior is a server-side convenience and is **not** part of the OpenAPI enum contract — SDKs generated from this specification by strict generators may reject non-canonical casing on the client side. For portability across SDKs, always send the canonical casing shown in this document.

API version: 0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// DecisionRequirementsAPIService DecisionRequirementsAPI service
type DecisionRequirementsAPIService service

type ApiGetDecisionRequirementsRequest struct {
	ctx                     context.Context
	ApiService              *DecisionRequirementsAPIService
	decisionRequirementsKey DecisionRequirementsKey
}

func (r ApiGetDecisionRequirementsRequest) Execute() (*DecisionRequirementsResult, *http.Response, error) {
	return r.ApiService.GetDecisionRequirementsExecute(r)
}

/*
GetDecisionRequirements Get decision requirements

Returns Decision Requirements as JSON.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param decisionRequirementsKey The assigned key of the decision requirements, which acts as a unique identifier for this decision requirements.
	@return ApiGetDecisionRequirementsRequest
*/
func (a *DecisionRequirementsAPIService) GetDecisionRequirements(ctx context.Context, decisionRequirementsKey DecisionRequirementsKey) ApiGetDecisionRequirementsRequest {
	return ApiGetDecisionRequirementsRequest{
		ApiService:              a,
		ctx:                     ctx,
		decisionRequirementsKey: decisionRequirementsKey,
	}
}

// Execute executes the request
//
//	@return DecisionRequirementsResult
func (a *DecisionRequirementsAPIService) GetDecisionRequirementsExecute(r ApiGetDecisionRequirementsRequest) (*DecisionRequirementsResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DecisionRequirementsResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DecisionRequirementsAPIService.GetDecisionRequirements")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/decision-requirements/{decisionRequirementsKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"decisionRequirementsKey"+"}", url.PathEscape(parameterValueToString(r.decisionRequirementsKey, "decisionRequirementsKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDecisionRequirementsXMLRequest struct {
	ctx                     context.Context
	ApiService              *DecisionRequirementsAPIService
	decisionRequirementsKey DecisionRequirementsKey
}

func (r ApiGetDecisionRequirementsXMLRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.GetDecisionRequirementsXMLExecute(r)
}

/*
GetDecisionRequirementsXML Get decision requirements XML

Returns decision requirements as XML.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param decisionRequirementsKey The assigned key of the decision requirements, which acts as a unique identifier for this decision.
	@return ApiGetDecisionRequirementsXMLRequest
*/
func (a *DecisionRequirementsAPIService) GetDecisionRequirementsXML(ctx context.Context, decisionRequirementsKey DecisionRequirementsKey) ApiGetDecisionRequirementsXMLRequest {
	return ApiGetDecisionRequirementsXMLRequest{
		ApiService:              a,
		ctx:                     ctx,
		decisionRequirementsKey: decisionRequirementsKey,
	}
}

// Execute executes the request
//
//	@return string
func (a *DecisionRequirementsAPIService) GetDecisionRequirementsXMLExecute(r ApiGetDecisionRequirementsXMLRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DecisionRequirementsAPIService.GetDecisionRequirementsXML")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/decision-requirements/{decisionRequirementsKey}/xml"
	localVarPath = strings.Replace(localVarPath, "{"+"decisionRequirementsKey"+"}", url.PathEscape(parameterValueToString(r.decisionRequirementsKey, "decisionRequirementsKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/xml", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchDecisionRequirementsRequest struct {
	ctx                             context.Context
	ApiService                      *DecisionRequirementsAPIService
	decisionRequirementsSearchQuery *DecisionRequirementsSearchQuery
}

func (r ApiSearchDecisionRequirementsRequest) DecisionRequirementsSearchQuery(decisionRequirementsSearchQuery DecisionRequirementsSearchQuery) ApiSearchDecisionRequirementsRequest {
	r.decisionRequirementsSearchQuery = &decisionRequirementsSearchQuery
	return r
}

func (r ApiSearchDecisionRequirementsRequest) Execute() (*DecisionRequirementsSearchQueryResult, *http.Response, error) {
	return r.ApiService.SearchDecisionRequirementsExecute(r)
}

/*
SearchDecisionRequirements Search decision requirements

Search for decision requirements based on given criteria.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchDecisionRequirementsRequest
*/
func (a *DecisionRequirementsAPIService) SearchDecisionRequirements(ctx context.Context) ApiSearchDecisionRequirementsRequest {
	return ApiSearchDecisionRequirementsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DecisionRequirementsSearchQueryResult
func (a *DecisionRequirementsAPIService) SearchDecisionRequirementsExecute(r ApiSearchDecisionRequirementsRequest) (*DecisionRequirementsSearchQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DecisionRequirementsSearchQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DecisionRequirementsAPIService.SearchDecisionRequirements")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/decision-requirements/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.decisionRequirementsSearchQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
