/*
Orchestration Cluster API

API for communicating with a Camunda 8 cluster.  ## Conventions  ### Enum value casing  Server-side, enum-typed request fields accept any casing of a documented value (for example `ACTIVE`, `active`, and `Active` are all accepted on input). Responses always use the canonical casing shown in this specification.  This permissive request behavior is a server-side convenience and is **not** part of the OpenAPI enum contract — SDKs generated from this specification by strict generators may reject non-canonical casing on the client side. For portability across SDKs, always send the canonical casing shown in this document.

API version: 0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// DecisionInstanceAPIService DecisionInstanceAPI service
type DecisionInstanceAPIService service

type ApiDeleteDecisionInstanceRequest struct {
	ctx                           context.Context
	ApiService                    *DecisionInstanceAPIService
	decisionEvaluationKey         DecisionEvaluationKey
	deleteDecisionInstanceRequest *DeleteDecisionInstanceRequest
}

func (r ApiDeleteDecisionInstanceRequest) DeleteDecisionInstanceRequest(deleteDecisionInstanceRequest DeleteDecisionInstanceRequest) ApiDeleteDecisionInstanceRequest {
	r.deleteDecisionInstanceRequest = &deleteDecisionInstanceRequest
	return r
}

func (r ApiDeleteDecisionInstanceRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteDecisionInstanceExecute(r)
}

/*
DeleteDecisionInstance Delete decision instance

Delete all associated decision evaluations based on provided key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param decisionEvaluationKey The key of the decision evaluation to delete.
	@return ApiDeleteDecisionInstanceRequest
*/
func (a *DecisionInstanceAPIService) DeleteDecisionInstance(ctx context.Context, decisionEvaluationKey DecisionEvaluationKey) ApiDeleteDecisionInstanceRequest {
	return ApiDeleteDecisionInstanceRequest{
		ApiService:            a,
		ctx:                   ctx,
		decisionEvaluationKey: decisionEvaluationKey,
	}
}

// Execute executes the request
func (a *DecisionInstanceAPIService) DeleteDecisionInstanceExecute(r ApiDeleteDecisionInstanceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DecisionInstanceAPIService.DeleteDecisionInstance")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/decision-instances/{decisionEvaluationKey}/deletion"
	localVarPath = strings.Replace(localVarPath, "{"+"decisionEvaluationKey"+"}", url.PathEscape(parameterValueToString(r.decisionEvaluationKey, "decisionEvaluationKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deleteDecisionInstanceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteDecisionInstancesBatchOperationRequest struct {
	ctx                                           context.Context
	ApiService                                    *DecisionInstanceAPIService
	decisionInstanceDeletionBatchOperationRequest *DecisionInstanceDeletionBatchOperationRequest
}

func (r ApiDeleteDecisionInstancesBatchOperationRequest) DecisionInstanceDeletionBatchOperationRequest(decisionInstanceDeletionBatchOperationRequest DecisionInstanceDeletionBatchOperationRequest) ApiDeleteDecisionInstancesBatchOperationRequest {
	r.decisionInstanceDeletionBatchOperationRequest = &decisionInstanceDeletionBatchOperationRequest
	return r
}

func (r ApiDeleteDecisionInstancesBatchOperationRequest) Execute() (*BatchOperationCreatedResult, *http.Response, error) {
	return r.ApiService.DeleteDecisionInstancesBatchOperationExecute(r)
}

/*
DeleteDecisionInstancesBatchOperation Delete decision instances (batch)

Delete multiple decision instances. This will delete the historic data from secondary storage.
This is done asynchronously, the progress can be tracked using the batchOperationKey from the response and the batch operation status endpoint (/batch-operations/{batchOperationKey}).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDeleteDecisionInstancesBatchOperationRequest
*/
func (a *DecisionInstanceAPIService) DeleteDecisionInstancesBatchOperation(ctx context.Context) ApiDeleteDecisionInstancesBatchOperationRequest {
	return ApiDeleteDecisionInstancesBatchOperationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BatchOperationCreatedResult
func (a *DecisionInstanceAPIService) DeleteDecisionInstancesBatchOperationExecute(r ApiDeleteDecisionInstancesBatchOperationRequest) (*BatchOperationCreatedResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BatchOperationCreatedResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DecisionInstanceAPIService.DeleteDecisionInstancesBatchOperation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/decision-instances/deletion"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.decisionInstanceDeletionBatchOperationRequest == nil {
		return localVarReturnValue, nil, reportError("decisionInstanceDeletionBatchOperationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.decisionInstanceDeletionBatchOperationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDecisionInstanceRequest struct {
	ctx                           context.Context
	ApiService                    *DecisionInstanceAPIService
	decisionEvaluationInstanceKey string
}

func (r ApiGetDecisionInstanceRequest) Execute() (*DecisionInstanceGetQueryResult, *http.Response, error) {
	return r.ApiService.GetDecisionInstanceExecute(r)
}

/*
GetDecisionInstance Get decision instance

Returns a decision instance.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param decisionEvaluationInstanceKey The assigned key of the decision instance, which acts as a unique identifier for this decision instance.
	@return ApiGetDecisionInstanceRequest
*/
func (a *DecisionInstanceAPIService) GetDecisionInstance(ctx context.Context, decisionEvaluationInstanceKey string) ApiGetDecisionInstanceRequest {
	return ApiGetDecisionInstanceRequest{
		ApiService:                    a,
		ctx:                           ctx,
		decisionEvaluationInstanceKey: decisionEvaluationInstanceKey,
	}
}

// Execute executes the request
//
//	@return DecisionInstanceGetQueryResult
func (a *DecisionInstanceAPIService) GetDecisionInstanceExecute(r ApiGetDecisionInstanceRequest) (*DecisionInstanceGetQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DecisionInstanceGetQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DecisionInstanceAPIService.GetDecisionInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/decision-instances/{decisionEvaluationInstanceKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"decisionEvaluationInstanceKey"+"}", url.PathEscape(parameterValueToString(r.decisionEvaluationInstanceKey, "decisionEvaluationInstanceKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.decisionEvaluationInstanceKey) < 3 {
		return localVarReturnValue, nil, reportError("decisionEvaluationInstanceKey must have at least 3 elements")
	}
	if strlen(r.decisionEvaluationInstanceKey) > 30 {
		return localVarReturnValue, nil, reportError("decisionEvaluationInstanceKey must have less than 30 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProblemDetail
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchDecisionInstancesRequest struct {
	ctx                         context.Context
	ApiService                  *DecisionInstanceAPIService
	decisionInstanceSearchQuery *DecisionInstanceSearchQuery
}

func (r ApiSearchDecisionInstancesRequest) DecisionInstanceSearchQuery(decisionInstanceSearchQuery DecisionInstanceSearchQuery) ApiSearchDecisionInstancesRequest {
	r.decisionInstanceSearchQuery = &decisionInstanceSearchQuery
	return r
}

func (r ApiSearchDecisionInstancesRequest) Execute() (*DecisionInstanceSearchQueryResult, *http.Response, error) {
	return r.ApiService.SearchDecisionInstancesExecute(r)
}

/*
SearchDecisionInstances Search decision instances

Search for decision instances based on given criteria.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchDecisionInstancesRequest
*/
func (a *DecisionInstanceAPIService) SearchDecisionInstances(ctx context.Context) ApiSearchDecisionInstancesRequest {
	return ApiSearchDecisionInstancesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DecisionInstanceSearchQueryResult
func (a *DecisionInstanceAPIService) SearchDecisionInstancesExecute(r ApiSearchDecisionInstancesRequest) (*DecisionInstanceSearchQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DecisionInstanceSearchQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DecisionInstanceAPIService.SearchDecisionInstances")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/decision-instances/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.decisionInstanceSearchQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
